@import "../../../../variables.scss";

.share_job_post {
	.job_links {
		margin-bottom: 0;
		.content {
			.common-input {
				color: $secondary-color;
			}
			textarea {
				font-family: Montserrat;
				font-size: 16px;
				color: #6b6c6f;
				height: 80px;
			}
			.status {
				font-size: 16px;
				color: #6b6c6f;
			}
			.link {
				font-size: 18px;
				color: #000;
				margin-top: -7px;
			}
			&.post_on {
				margin-top: -10px;
				padding-top: 0;
				padding-bottom: 30px;
				ul {
					display: flex;
					align-items: center;
					li {
						list-style: none;
						img {
							margin-right: 10px;
							height: 19px;
						}

						&:not(:first-child) {
							cursor: pointer;
							background-color: salmon;
							padding: 15px 40px;
							background: #ffffff 0% 0% no-repeat padding-box;
							box-shadow: 0px 0px 3px #0000000d;
							border: 1px solid #bcd1e4;
							border-radius: 35px;
							margin-right: 20px;
							display: flex;
							align-items: center;
							&:hover {
								opacity: 0.8;
							}
						}
						&:first-child {
							margin-right: 30px;
							font-size: 26px;
							font-weight: 500;
						}
						&:last-child {
							margin-right: 0;
						}
						&.email {
							padding: 0;
							overflow: hidden;
							a {
								display: flex;
								align-items: center;
								display: block;
								padding: 15px 40px;
								width: 100%;
								height: 100%;
								padding: 15px 40px;
								color: black;
								img {
									height: 14px;
								}
							}
						}
					}
				}
			}
		}
		.copy_link_button {
			position: relative;
			button {
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 25px;
				border-radius: 40px;
				border: 1px solid $secondary-color;
				// background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAARCAYAAADtyJ2fAAAABHNCSVQICAgIfAhkiAAAAJNJREFUKFNjDEora2BgYKxnIAD+/WN03DCn4wBMGWNQWvn/////H2RkZIALYjPjHxPTgg0zOh6gaGRg+N+4blZXAyFbkeXBNsI0BqaWb2BkZPAnaMB/hgUoGiGGEAdGNeIJJ/IDJzC17AAjA9OCdbM7FpAUHciuGUIaA9PKLzAyMOgTSnTg3ISuKCClwoGQRlC+BAARvXLFJ3JSjwAAAABJRU5ErkJggg==);
				// padding-left: 50px;
				background-repeat: no-repeat;
				background-position: 25px center;
				background-color: $secondary-color;
				color: white;
				img {
					width: 12px;
					margin-right: 15px;
				}
			}
		}
	}
}
