@import "../../../variables.scss";

.add-ex-ed-cert {
	// border: 1px solid black;
	.dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
		margin-top: -40px;
		.dot {
			width: 10px;
			height: 10px;
			display: block;
			border-radius: 50%;
			border: 2px solid #a3a4a2;
			&:first-child {
				margin-right: 10px;
			}
			&.active {
				background-color: $secondary-color;
				border-color: $secondary-color;
			}
		}
	}
	.popup-tabs {
		display: flex;
		margin-bottom: 40px;
		.tab {
			// cursor: pointer;
			margin-right: 20px;
			color: #a3a4a2;
			border-bottom: 1px solid #a3a4a2;
			cursor: default;
			font-size: 22px;
			// &:hover {
			// 	opacity: 0.9;
			// }
			&.active {
				color: $secondary-color;
				border-color: $secondary-color;
			}
		}
	}
	.listing {
		margin-bottom: 80px;
		& > li {
			display: flex;
			align-items: center;
			margin-bottom: 40px;

			&.block {
				display: block;
			}
			.top {
				display: flex;
				align-items: center;
				label {
					span {
						margin-bottom: 0;
					}
				}
			}
			label {
				width: 250px;
				color: #6b6c6f;
				span {
					color: $red-color;
				}
				&.fancy-toggle {
					margin-left: 10px;
					width: 100%;
				}
			}
			input[name="interestedIn"] {
				display: none;
			}
			.common-input,
			.common-dropdown,
			.common-textarea,
			& > div {
				flex: 1;
				.input {
					display: flex;
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.common-textarea {
				height: 70px;
				min-height: 46px;
			}
			.date-outer {
				display: flex;
				align-items: center;
				.date {
					width: 160px;
					margin-right: 10;
				}
				.present {
					color: grey;
					margin-left: 0px;
				}
				span {
					margin: 0 20px;
				}
			}
			&.industry {
				& > label {
					min-width: 250px;
				}
				div {
					display: flex;
					margin-left: 60px;
					&.degree_yes_no {
						margin-left: 0;
						label {
							width: auto;
							margin-right: 40px;
						}
					}
				}
			}
			.upload {
				.content {
					position: relative;
					padding: 0;

					.upload-btn {
						position: absolute;
						right: 0;
						height: 100%;
						border-radius: 40px;
						padding: 0 50px;
						border: none;
						font-size: 17px;
						background: #0092d0;
						color: white;
					}
				}
				p {
					margin-bottom: 0;
					font-size: 14px;
					color: red;
				}
			}
			.circle-btn {
				width: 46px;
				height: 46px;
				margin-left: 15px;
				border-radius: 50%;
				background: $secondary-color;
				color: white;
				font-size: 22px;
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					pointer-events: none;
				}
			}
			&:last-child {
				margin-bottom: 0;
				.fancy-toggle + label {
					width: 100%;
				}
			}
			&.major-minor {
				align-items: stretch;
				.label {
					width: 250px;
					flex: none;
					margin-top: 20px;
				}
				.inputs {
					input {
						margin-top: 15px;
						&:first-child {
							margin-top: 0;
						}
					}
				}
				.button {
					display: flex;
					align-items: flex-end;
					flex: none;
					// background-color: orange;
				}
			}
			&.verify_title {
				font-weight: 500;
				margin-bottom: 30px;
				font-size: 20px;
			}
		}
	}
	.certificate {
		img {
			width: 100%;
			display: block;
		}
	}
	.error-text {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.add-ex-ed-cert {
		h1 {
			font-size: 26px;
			font-weight: 400;
			margin-top: 10px;
			margin-bottom: 20px;
		}
		.listing {
			margin-bottom: 40px;
			& > li {
				input,
				.common-input,
				.common-dropdown,
				.common-textarea {
					background-color: transparent !important;
					.heading {
						background-color: transparent !important;
					}
				}
				.common-input,
				.common-textarea {
					padding: 12px 0;
				}
				.date-outer {
					margin-top: 10px;
					#startDate,
					#endDate {
						padding: 0px;
					}
					span {
						&.from {
							margin: 0 20px 0 0 !important;
						}
						&.to {
							margin: 0 20px !important;
						}
					}
					.date {
						width: 130px;
					}
				}
				&.industry {
					label {
						min-width: 0;
						width: auto;
					}
				}
				.upload {
					margin-top: 10px;
					.content {
						input {
							border: 1px solid #cdcdcd;
							border-radius: 40px;
							padding-left: 15px;
						}
					}
				}
				&.major-minor {
					.label {
						margin-bottom: 15px;
					}
					.common-dropdown {
						margin-top: 0;
					}
				}
			}
			.common-dropdown {
				margin-top: 15px;
				// border-top: 0;
				// border-left: 0;
				// border-right: 0;
				// border-radius: 0;
			}
			li {
				display: block;
				input,
				.common-input,
				.common-dropdown,
				.common-textarea,
				textarea {
					border-top: 0;
					border-left: 0;
					border-right: 0;
					border-radius: 0;
				}
				.upload {
					.content {
						padding: 0 !important;
						.upload-btn {
							padding: 0 22px;
							font-size: 15px;
						}
					}
				}
			}
			.industry {
				div {
					margin-top: 20px;
					margin-left: 0px !important;
				}
			}
		}
	}
}
